@charset "UTF-8";
/* Color Palette

blue: #6a97cf
dark gray: #797979
light gray: #cccccb
green: #296431

*/

* { padding: 0; }

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin:0;
  background-image: url('_images/crossed_stripes.png');
	font-size: 100%;
	line-height: 150%;
	color: #fff;
}


h1,
h2 {
  font-family: "Century Gothic";
  font-weight:lighter;
}
h1 {
	font-size: 2.25em;
	margin-top: 20px; 
}

p {
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 24px;
}

article {
  margin:0px auto;
  width:95%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
  article h1 {
    margin-top: 3rem;
    margin-bottom: -1rem;
    font-weight:300;
    color:#fff;
    text-shadow:-1px -1px 1px #222;
  }

p.copyright {
	font-size: 12px;
  float:right;
  color:#797979;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

h3 {
	font-size: 18px;
	padding-top: 8px;
	margin-bottom: 4px;
}

input {
	border: 0px solid magenta;
}

img, embed, object, video, iframe {
	max-width: 100%;
	height: auto;
}

#page {
	background-position: center;
	background-repeat:repeat-y;
	margin: 0px auto;
}

#header {
  background-color:#6a97cf;
  background-image: url("_images/blue_circles.jpg");
  background-size:cover;
  padding:1px;
  position:relative;
  padding-right:1rem;
}
  #header a {
    color:#fff;
    text-decoration:none;
    line-height:2rem;
  }
  #header .contents {
    padding-left:5rem;
  }
  #contact-header {
    position:absolute;
    top:1rem;
    right:1rem;
    color:#fff;
    font-size:90%;
  }
    #contact-header ul,
    #contact-header p {
      margin:0;
    }
    #header ul li {
      display:inline-block;
      list-style-type:none;
    }
      #header ul li img {
        position:relative;
        top:2px;
        margin-right:5px;
      }
        #envelope {
          margin-left:1rem;
        }
    #header h1 {
      text-shadow: 1px 1px 1px #222;
    }

nav {
	overflow: hidden;
	margin-bottom: 20px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

nav ul li {
	float: left;
	list-style-type: ; /* none; */
	margin-right: 20px;	
}
	
	nav ul li a {
		color: #000;
		text-decoration: none;	
	}
	
	nav ul li a:hover {
		color: #999;
	}

div#middle {
	overflow: hidden;
}
.servicesMenu {
  padding: 5px 15px 0px 15px; 
  background-color:#CCC;
  border: 1px;
  height: 65px;

}
.menuItem {
  display: inline-block;
  border-bottom: 2px solid #ccc ;
  padding: 0;
  margin: 0;
height: 65px;  

}
.menuItemActive {
  /*border: 2px solid #336699 ;*/
  display: inline-block;
  height: 65px;
}

	
	#headshot {
		float: right;
		padding: 4px;
		border: 1px solid #000;
		margin-left: 20px;
	}
	
	aside {
		width: 300px;
		float: right;
	}
	
	aside ul {
		padding-left: 20px;
	}
	
	aside ul li {
		list-style: none;
		background-image:url(CSS_DropDown/images/bg-listitem-bullet.png);
		background-position: left;
		background-repeat: no-repeat;
		padding-left: 20px;
	}
	
		aside ul li a {
			color: #000;
			text-decoration: none;
		}
		
		aside ul li a:hover {
			color: #999;
		}


footer {
  max-width:940px;
  margin:0px auto;
  text-align:right;
}
  footer ul {
    margin:0px auto;
    width:300px;
    margin-top:0.5rem;
    font-size:80%;
  }
  footer ul li {
    display:inline-block;
    margin-left:1rem;
    margin-right:1rem;
  }
  footer a:link,
  footer a:visited {
    color:#797979;
    text-decoration:none;
    -webkit-transition: color 0.1s linear;
       -moz-transition: color 0.1s linear;
         -o-transition: color 0.1s linear;
            transition: color 0.1s linear;
  }
    footer a:hover {
      color:#cccccb;
    }
#footer-desc footer {
  width:360px;
}
  #footer-desc footer li {
    margin-left: 2rem;
    margin-right: 1rem;
  }
  #footer-desc footer a:hover {
    text-decoration:underline;
    color:#797979;
  }

#icons {
  margin:0px auto;
  margin-top:40px;
}
  .menu-overlay {
    background-color: rgba(37, 71, 114, 0.9);
    background-color: rgba(72, 119, 179, 0.9);
    position:absolute;
    top:0px;
    height:100%;
    right:0;
    padding:10px;
    width:100%;
    opacity:1;
    box-sizing:border-box;
  }
    .menu-overlay p {
      font-size: 16pt;
      color: #FFF;
      line-height: 17pt;
      font-weight:300;
      height:50px;
      width:98%;
      position:absolute;
      top:-8px;
      text-shadow: -1px -1px 1px #222;
      -webkit-transition: opacity 0.1s linear, top 0.1s linear;
         -moz-transition: opacity 0.1s linear, top 0.1s linear;
           -o-transition: opacity 0.1s linear, top 0.1s linear;
              transition: opacity 0.1s linear, top 0.1s linear;
    }
    .menu-overlay:hover {
      background-color: rgba(74, 119, 177, 0.9);
      background-color: rgba(57, 96, 146, 0.9);
    }
    .menu-overlay:hover p {
      opacity:0;
      top:-20px;
    }
  #icons .menu-bit {
    position:relative;
    display:inline-block;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0%;
    margin-bottom:0%;
    min-height:150px;
    border-top:1px solid rgba(194, 217, 245, 0.7);
    border-left:1px solid rgba(194, 217, 245, 0.7);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom:5px;
  }
    .menu-bit:hover {
      border-top:1px solid rgba(194, 217, 245, 0.5) !important;
      border-left:1px solid rgba(194, 217, 245, 0.5) !important;
    }
    .menu-bit p {
      font-family: "Century Gothic";
      font-weight:lighter;
      pointer-events:none;
      width:100%;
      -webkit-transition: opacity 0.1s linear, top 0.1s linear;
         -moz-transition: opacity 0.1s linear, top 0.1s linear;
           -o-transition: opacity 0.1s linear, top 0.1s linear;
              transition: opacity 0.1s linear, top 0.1s linear;
    }
    .menu-bit p.title {
      width:95%;
      text-shadow: -1px -1px 1px #222;
      font-weight:normal;
      opacity:0;
      position:absolute;
      margin-left:5px;
      top:-19px;
      font-size:20pt;
      line-height: 22pt;
    }
    .menu-bit p.see-more {
      position:absolute;
      bottom:-20px;
      background-color:rgba(0,0,0,0.2);
      text-align:center;
      font-size:11pt;
      font-weight:300;
      height:40px;
      box-sizing:border-box;
      opacity:0;
    }
    .menu-bit:hover {
      -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
              box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    }
    .menu-bit:hover p.title,
    .menu-bit:hover p.see-more {
      opacity:1;
    }
    .menu-bit a {
      color:#646464;
    }
    .menu-bit a.box {
      width:100%;
      display:block;
      background-color:#ccc;
      height:150px;
      background-size:cover;
      -webkit-transition: opacity 0.2s linear;
         -moz-transition: opacity 0.2s linear;
           -o-transition: opacity 0.2s linear;
              transition: opacity 0.2s linear;
    }
      a:hover {
        cursor:pointer;
      }

#footer-desc {
  background-color:#cccccb;
  padding:10px;
  color:#222;
  box-sizing:border-box;
}
  #footer-desc .contents {
    padding-left:3rem;
    padding-right:1rem;
  }
  #footer-desc ul {
    margin-left:2rem;
    margin-top:0;
  }
    #footer-desc ul li {
      list-style-type:none;
    }

.menu {
	border:none;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
  min-width:750px;
}
.menu ul {
	background:#333333;
	height:35px;
	list-style:none;
	margin:0;
  padding:0;
  padding-left:5rem;
}
	.menu li {
		float:left;
		padding:0px;
  }
	.menu li a,
  .menu li span {
		background:#333333 url("images/seperator.gif") bottom right no-repeat;
		color:#cccccc;
		display:block;
		font-weight:normal;
		line-height:35px;
		margin:0px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
    -webkit-transition: background-color 0.1s linear;
       -moz-transition: background-color 0.1s linear;
         -o-transition: background-color 0.1s linear;
            transition: background-color 0.1s linear;
		}
		.menu li a:hover,
    .menu ul li:hover a {
			background: #2580a2 url("images/hover.gif") bottom center no-repeat;
			color:#FFFFFF;
			text-decoration:none;
    }
	.menu li ul {
		background:#333333;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:225px;
		z-index:200;
  }
	.menu li:hover ul {
		display:block;
  }
	.menu li li {
		background:url('images/sub_sep.gif') bottom left no-repeat;
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:225px;
  }
	.menu li:hover li a {
		background:none;
  }
	.menu li ul a {
		display:block;
		height:35px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
  }
		.menu li ul a:hover,
    .menu li ul li:hover a {
			background:#2580a2 url('images/hover_sub.gif') center left no-repeat;
			border:0px;
			color:#fff;
			text-decoration:none;
    }
	.menu p {
		clear:left;
		}	

/**** RWD ****/
/* Desktop & Mobile Screens Set to 1024 x 768 or Below  */
@media screen and (max-width: 1030px) {
  #icons .menu-bit {
    width:48%;
  }
  #icons {
    width:90%;
  }
  .menu-overlay p {
    line-height:26pt;
  }
}

#pretty {
  margin-top:2rem;
  margin-bottom:2rem;
}
.pretty-bit {
  width:24%;
  display:inline-block;
  margin-bottom:1rem;
  min-height:100px;
  vertical-align:top;
}
  .pretty-bit h2 {
    text-align:center;
    font-size:13pt;
    text-transform:uppercase;
  }
  .pretty-bit hr {
    border:0;
    border-top:5px solid #797979;
    width:50%;
    margin-top:1rem;
  }
  .pretty-bit p {
    width:75%;
    margin:0px auto;
    text-align:center;
  }

/* Desktop & Mobile Screens Set to a Width of 600px or Below */
@media screen and (max-width: 600px) {
  #icons .menu-bit {
    width:100%;
  }
  .menu-overlay p {
    font-size:23pt;
  }
    .menu-overlay:hover {
      opacity:1;
      top:0;
    }
}

@media screen (min-width: 705px) and (max-width: 1150px) {
  #header h1 span,
  #header ul li {
    display:block;
  }
  #envelope {
    margin-left:0;
  }
  #header ul li a {
    line-height:1rem;
  }
}

@media screen and (max-width: 705px) {
  #contact-header {
    position:static;
    margin-top:1rem;
  }
    #contact-header p {
      font-size:18px;
    }
}
