@charset "UTF-8";
/* Color Palette

Purple: http://slayeroffice.com/tools/color_palette/?hex=39275B

*/

* { padding: 0; }

body {
  margin:0;
	
	background-position: center top;
	background-repeat:repeat-x;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 100%; /* 16px */
	line-height: 150%; /* 24px */
	color: #000;
}


h1 {
	font-size: 2.25em;
	margin-top: 20px; 
}

p {
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 24px;
}

article {
  max-width:830px;
  margin:0px auto;
  margin-top:20px;
}

p.copyright {
	font-size: 12px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

h3 {
	font-size: 18px;
	padding-top: 8px;
	margin-bottom: 4px;
}

input {
	border: 0px solid magenta;
}

img, embed, object, video, iframe {
	max-width: 100%;
	height: auto;
}

#page {
	background-position: center;
	background-repeat:repeat-y;
	background-color: #FFF;
	max-width: 940px;
	margin: 0px auto;
}

#header {
  background-color:#4971a4;
  padding:15px;
}
  #header a {
    color:#fff;
    text-decoration:none;
    line-height:31px;
  }

nav {
	overflow: hidden;
	margin-bottom: 20px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

nav ul li {
	float: left;
	list-style-type: ; /* none; */
	margin-right: 20px;	
}
	
	nav ul li a {
		color: #000;
		text-decoration: none;	
	}
	
	nav ul li a:hover {
		color: #999;
	}

div#middle {
	overflow: hidden;
}
	
	#headshot {
		float: right;
		padding: 4px;
		border: 1px solid #000;
		margin-left: 20px;
	}
	
	aside {
		width: 300px;
		float: right;
	}
	
	aside ul {
		padding-left: 20px;
	}
	
	aside ul li {
		list-style: none;
		background-image:url(CSS_DropDown/images/bg-listitem-bullet.png);
		background-position: left;
		background-repeat: no-repeat;
		padding-left: 20px;
	}
	
		aside ul li a {
			color: #000;
			text-decoration: none;
		}
		
		aside ul li a:hover {
			color: #999;
		}


footer {
	border-top: 1px solid #000;
}

/* Desktop &amp; Mobile Screens Set to 1024 x 768 or Below  */
@media screen and (max-width: 1024px) {
	article {
		width: 65.95%; /* 620px / 940px */
	}
	
	aside {
		width: 31.91%
	}
}

/* Desktop &amp; Mobile Screens Set to a Width of 600px or Below */
@media screen and (max-width: 600px) {
	
	article, aside {
		float: none;
		width: auto;	
		}
	
}

#icons {
  margin:0px auto;
  margin-top:20px;

}
  #icons .menu-bit {
    display:inline-block;
    width:260px;
    margin-bottom:10px;
    min-height:210px;
  }
    .menu-bit.middle {
      margin-left: 20px;
      margin-right: 20px;
    }
    .menu-bit a {
      width:260px;
      display:block;
      background-color:#ccc;
      height:150px;
    }
      a:hover {
        cursor:pointer;
      }
    .menu-bit p {
      margin:0px auto;
      font-size:12pt;
    }
